<h2>Create New Goal</h2>
<form class="card-body new-goal-form" id="new-goal-form">
    <div class="form-row">
        <label for="goal-title" class="form-label">Title</label>
        <input type="text" id="goal-title" name="goal-title" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input form-control" />
    </div>
    <button type="submit" class="btn btn-primary">CREATE</button>
</form>


<script src="/js/new-goal.js"></script>