:root {
    --brand-blue: #52b4b4;
    --brand-pink: #f4c2f4;

    
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--brand-blue);
    font-size: 16px;
  }
  

  header {
    font-family: 'Alata', sans-serif;
    text-align: center;
    margin: 20px;
    color: whitesmoke;
  }
  
   h1, h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Alata', sans-serif;
  }
  

  nav a {
    color: var(--tea-green);
    font-size: 30px;
    text-decoration: underline;
    padding: 6px;
    font-family: 'Alata', sans-serif;
  }
  
  .card-header {
    background-color: #ccc;
    display: block;
  }
  
  button a {
    color: white;
    padding: 20px;
  }
  
  .post {
    margin: 5px;
  }
  
  .col {
    margin: 5px;
  }
  
  .centerthisbutton {
    text-align: center;
  }

  .btn {
    margin: 25px;
  }
  