:root {
  --brand-blue: #52b4b4;
  --brand-pink: #f4c2f4;


}

body {
  font-family: 'Nunito', Tahoma, sans-serif;
  background-color: var(--brand-blue);
  font-size: 16px;
  margin: 0;
  padding: 0;
}



header {
  font-family: 'Alata', sans-serif;
  text-align: center;
  margin: 10px;
  color: whitesmoke;
}

h1,
h2 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Alata', sans-serif;
}

p {
  font-family: 'Alata', sans-serif;
}

nav a {
  font-size: 30px;
  font-family: 'Alata', sans-serif;
}

.card-header {
  display: block;
  color: var(--brand-blue);
  background-color: whitesmoke;
}

button a {
  color: white;
  padding: 20px;
}

.post {
  margin: 5px;
}

.col {
  margin: 3px;
}

.centerthisbutton {
  text-align: center;
}




.title {
  font-size: 55px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
}

a:hover {
  text-decoration: none;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
  color: var(--brand-pink)

}

.animation {
  border: none !important;
  margin-bottom: -25px;
}

.cardtitle {
  font-family: 'Poppins', sans-serif;
}

.btn-login {
  background-color: var(--brand-blue);
  border-color: var(--brand-blue);
}

.btn-login:hover{
  background-color: var(--brand-pink);
  border-color: var(--brand-blue);
}

.quote-container {
  border-radius: 15px;
  background-color: whitesmoke;
  color: var(--brand-blue);
  text-align: center;
  width: 36%;
}

.login-form{
 width: 75vw;
 margin-top: 10px;;
 margin-bottom: 10px;
}

.loginCard {
  border-radius: 15px;
}


.goal {
  display: flex;
 border: solid 2px #f4c2f4;
  box-shadow: 5px 5px rgb(236, 168, 227), -1em 0 .4em rgb(95, 7, 117);
}

.goal>* {
  flex: 1;
  gap: 10%;
  
 }

.dashboard-goal {
  margin: 10px;
  background-color: #cb2dcb;
  box-shadow: 5px 5px rgb(236, 168, 227), -1em 0 .4em rgb(95, 7, 117);
}

.navbar {
  display: flex;

}

.navbar > * {
  flex: 1;
}

.quote-card {
  display: flex;
  background-color: var(--brand-blue);
  border: none;
  width: 100%;
  text-align: center;
}

.quote-card > * {
  flex: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-wrapper > * {
  flex: 1;
  
}

#heart{
  font-size: 2em;
  animation-name: side-to-side-motivator;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: bezier;
 }

 @keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
 }

 @keyframes side-to-side-motivator {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
 }

@media screen and (min-width:1100px){
  .navbar > * {
    flex: 0;
  }


}

@media screen and (max-width:768px) {
  .login-wrap {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width:768px) {
  .animation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

