:root {
  --brand-blue: #52b4b4;
  --brand-pink: #f4c2f4;


}

body {
  font-family: 'Nunito', Tahoma, sans-serif;
  background-color: var(--brand-blue);
  font-size: 16px;
}



header {
  font-family: 'Alata', sans-serif;
  text-align: center;
  margin: 20px;
  color: whitesmoke;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Alata', sans-serif;
}

p {
  font-family: 'Alata', sans-serif;
}

nav a {
  color: var(--tea-green);
  font-size: 30px;
  text-decoration: underline;
  padding: 6px;
  font-family: 'Alata', sans-serif;
}

.card-header {
  display: block;
  color: var(--brand-blue);
  background-color: whitesmoke;
}

button a {
  color: white;
  padding: 20px;
}

.post {
  margin: 5px;
}

.col {
  margin: 3px;
}

.centerthisbutton {
  text-align: center;
}

.btn {
  margin: 25px;

}

.title {
  font-size: 55px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2.5vh;
}

a:hover {
  text-decoration: none;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
  color: var(--brand-pink)

}

.animation {
  margin: 15px;
}

.cardtitle {
  font-family: 'Poppins', sans-serif;
}

.btn-login {
  background-color: var(--brand-blue);
  border-color: var(--brand-blue);
}

.btn-login:hover{
  background-color: var(--brand-pink);
  border-color: var(--brand-blue);
}

.quote-container {
  border-radius: 15px;
  background-color: whitesmoke;
  margin-bottom: 3vh;
  margin-top: 3vh;
  width: 75vh;
}
.quote {
  color: var(--brand-blue);
  padding: 20px;
  margin: 15px;
  text-align: center;
}

.login-form{
 width: 75vh;
 margin-bottom: 20vh;
}

.loginCard {
  border-radius: 15px;
}